body{
	background-image: url("background.jpg") ;
	background-size: cover;
	background-attachment: fixed;
}
.cardWord{
	color: #700;
}
.headColor{
	color:#800;
}
.logo{
	color: #D00;
}
.imgClass{
	transition: transform .3s;
}
.imgClass:hover{
	transform: scale(1.1);
}
.regForm{
	width: 50%;
	margin-left: 335px;
	background-color: rgba(50, 50, 50, 0.5);
	margin-top: 80px;
	border-radius: 5px;
}
.sizeImg{
	width: 600px;
	height: 450px;
}
.forFixedNav{
	margin-top: 85px;
}
.imgs{
	margin-bottom: -25px;
}
.imgself{
	height: 400px;
}
.caption{
	color: #E00;
	text-shadow: -1px -1px 8px ;

}
.cardColor{
	color:#0d0b16;
	
}
.imgCard{
	width: 295px;height: 250px;
}
.cardButton{
	color: black;
}
.cardButton:hover{
	color:gray;
}
.cardIndex{
	background-color: rgba(200,200,200,0.2);
	width: 300px;
	border-radius: 5px;
	border-style: groove;
	border-color: rgba(150,150,150,0.3);
	}
.cardDiv{
	margin-top: 25px;
	margin-left: 60px;
	transition: transform 0.2s;
	}
.cardDiv:hover{
	transform: scale(1.1);
	}
.inst{
		width: 600px;
		margin-left: 40px;
		transition: transform .3s;
		margin-bottom: 20px;
	}
.inst:hover{
		transform: scale(1.1);
	}
.floatDiv{
	float: right;
	margin-top:-385px;
}
#topicDiv{
	width: 75%;
	background-color: rgba(100,100,100,0.1);
	margin-left: 170px;
	margin-top: 100px;
}
#DivCard{
	height: 26rem;
	background-color: rgba(200,200,200,0.1);
	padding-top: 5px;
	margin-top: 20px;
}